# Python

## basic component
1. variable

In [6]:
## variable
a=1

In [7]:
print(a)

1

In [8]:
a= "i am taking the Data Science Course"

In [9]:
print(a)

i am taking the Data Science Course

In [10]:
a=1
b=14

In [11]:
if a>5 :
    print("A++")
else:
    print(a)
    print(b)

1
14

# Loops

In [13]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [14]:
x,y,z=1,2,3

In [15]:
print(x)
print(y)
print(z)

1
2
3

In [16]:
xy=(x+y)
print(xy)

3

In [17]:
if (x+z)<2 :
    print(xy)
else:
    print("BIA")

BIA

In [18]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [19]:
1. how to claculate the length of a string?
2. how to acces certain value from the string.
3. write a for loop, which multiplies every number by two?
4. how to remove extra spaces from string?
5. how to split a sentence into indiviual elements?
6. how to make a string in upper case/ lower case?

SyntaxError: invalid syntax (720181893.py, line 2)

# check if a number is positive

In [ ]:
a = 2
if a>0:
    print("positive")
else:
    print("negative")

# vote based on age

In [ ]:
age = 30
if age>18:
    print("eligible for voting")
else:
    print("unable to vote")

# grade based on score

In [ ]:

Score = 92

if Score>=60 and Score<70:
     print("D")
elif Score>=70 and Score<80:
    print("C")
elif Score>=80 and Score<90:
    print("B")
elif Score>=90:
    print("A")
else:
    print("fail")

# check if a number is even and positive

In [ ]:
num=-7984984985*-399894

if (num % 2 ==0) and num>=0:
    print("even and positive")
elif num % 2 ==0 and num<0:
    print("even and neg")
elif num % 2 !=0 and num>=0:
    print("odd and pos")
elif num % 2 !=0 and num<0:
    print("odd and neg")

In [ ]:
input_value= input("Enter a number ?")

In [ ]:
input_value

In [ ]:
type(input_value)

In [ ]:
input_value= int()

In [ ]:
type(input_value)

In [ ]:
i = 0
while(i<5):
    print(i)
    i=i+1

In [ ]:
i = 0
while(i<10):
    print(i)
    if i==7:
        break
    i = i+1

# For Loop with Strings

In [ ]:
a = "for loop with reversed string"
def reverse_string(a):
    aneg= ''
    for i in range(len(a) - 1, -1, -1):
        aneg += a[i]
    return aneg
aneg = reverse_string(a)
print(a)
print(aneg)

In [ ]:
b = "a cup of coffee"
bneg = reverse_string(b)
print(b)
print(bneg)

In [ ]:
def num_check(num):
    if (num % 2 ==0) and num>=0:
        print("even and positive")
    elif num % 2 ==0 and num<0:
        print("even and neg")
    elif num % 2 !=0 and num>=0:
        print("odd and pos")
    elif num % 2 !=0 and num<0:
        print("odd and neg")

In [ ]:
num_check(28983)

In [ ]:
num_check(-2)

In [ ]:
# Write a function that takes a number and tells if the number is even or odd?
# Write a function that takes a number and tells if the number is positive of negative?
# Write a function that takes a number and tells if the age is eligible for voting or not?
# Write a function that takes two parameters,f_name, s_name, and combines them with a space between then and then return?
# Write a function that takes two numbers and returns the sum of it?

In [ ]:
#2
def posneg(num):
    if num>=0:
        return "positive"
    elif num<0:
        return "negative"

In [ ]:
posneg(50)

In [ ]:
def combo(frst_name,last):
    name = frst_name+" "+last
    return(name)

In [ ]:
combo("Muhammad","Saqib")

In [ ]:
File_handle = "python.txt"
count_python = 0
with open(python.txt, "r") as file:
    line = file.readline()
    while line:
        if "python" in line:
            count_python = count_python + 1
            line = file.readline()
return count_python

print(count_python)

In [ ]:
name = "Saqib"
age = "24"
gender = "Male"
nationality = "Pakistani"
current_location = "Lahore"

person_details = "The name of the person is {}. His Age is {} and gender {} holding {} nationality and currently located {}".format(name, age, gender, nationality, current_location)

print(person_details)

In [ ]:
name = "Saqib"
age = "24"
gender = "Male"
nationality = "Pakistani"
current_location = "Lahore"

person_details = f'The name of the person is {name} His Age is {age} and gender {gender} holding {nationality} nationality and currently located {current_location}'
print(person_details)

In [ ]:
name = input("Name")
age = input("Age")
gender = input("Gender")
nationality = input("Nationality")
current_location = input("location")

person_details = f'The name of the person is {name} His Age is {age} and gender {gender} holding {nationality} nationality and currently located {current_location}'
print(person_details)

In [ ]:
def multiply(*args):
    res = 1
    for i in args:
        res = res * i
        print(res)

In [ ]:
multiply(2,4)

In [ ]:
def additional(*args):
    a = 0
    for i in args:
        a = a +i
        print(a)
    return a*2

In [ ]:
additional(2,2)

In [ ]:
def pattern(n):
    for i in range(n):
        print(i*"*")
    for i in range(n,0,-1):
        print(i*"*")

In [ ]:
pattern(5)

## Factorial in Python

In [ ]:
def factorialis(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result
number = 5
print(f"The factorial of {number} is {factorial(number)}")

In [ ]:
factorialis(0)

In [ ]:
for i in range(10):
    if i %2  == 0:
        print("{} This is even".format(i))
    else:
        print(f'{i} This is odd')

In [ ]:
mum = 1
def mul_table(num):
    for i in range(1,11):
        print(num, 'x' , i , '=', i*num)

In [ ]:
mul_table(3)

In [ ]:
mul_table(77)

In [ ]:
    student_2 = {"name":"A","age":"22","marks":"47"}
    student_3 = {"name":"B","age":"27","marks":"57"}
    student_4 = {"name":"C","age":"28","marks":"67"}
    student_1 = {"name":"D","age":"20","marks":"87"}
    student_5 = {"name":"E","age":"21","marks":"97"}
    student_6 = {"name":"F","age":"22","marks":"77"}
    student_7 = {"name":"G","age":"24","marks":"66"}

In [ ]:
All_students = [student_1,student_2,student_3,student_4,student_5,student_6,student_7]

In [ ]:
print(All_students)

In [ ]:
for i in All_students:
    print(i)

In [ ]:
for i in All_students:
    print(i["marks"])

In [ ]:
sum_marks = 0
total_len = len(All_students)
for student in All_students:
    sum_marks += int((student['marks']))
avg = sum_marks/total_len
print(avg)

# 06 Jul,204
## Data Structures
### Lists & Tuples

In [1]:
print("helo")

helo

In [11]:
my__list = [1,2,3,4]

In [12]:
my__list.append(6)

In [13]:
print(my__list)

[1, 2, 3, 4, 6]

In [23]:
my__list.insert(0,6)
print(my__list)

[6, 6, 1, 2, 3, 4, 6]

In [24]:
lisst1 = [1,2]
lisst2 = [3,4]

In [27]:
lisst1.extend(lisst2)
print(lisst1)

[1, 2, 3, 4, 3, 4]

In [28]:
lisst3 = lisst1 + lisst2
print(lisst3)

[1, 2, 3, 4, 3, 4, 3, 4]

In [29]:
lisst2+lisst3

[3, 4, 1, 2, 3, 4, 3, 4, 3, 4]

In [59]:
def mull(lst):
    new_lst = []
    for i in lst:
        new_lst.append(i*2)
    return new1

# ????????????????????

Remove 2 from the list using a for loop and define a function

In [76]:
def rem(rmv):
    rmv.remove(2)

In [77]:
rem([1,2,3,4,2])

In [79]:
q = [1,2,3,4]
q.remove(2)
print(q)

[1, 3, 4]

In [103]:
def remove_all(lst,x):
    lst = []
    for i in z:
        z.remove(x)
    return z

In [104]:
remow([1,2,3,4,2,3,4,2,2,4,3,5],3)

[]

In [93]:
def remove_items(lst, item): 
    c = lst.count(item) 
    for i in range(c): 
        lst.remove(item) 
    return lst

In [97]:
remove_items([1,2,3,4,2,3,4,2,2,4,3,5],2)

[1, 3, 4, 3, 4, 4, 3, 5]

In [125]:
# Count occurance without For Loop
# function and element and how many times that number exists in that list
def cnto(lit,elem):
    count = lit.count(elem)
    return count

In [126]:
cnto([1,2,3,4,2,3,4,4,4,4,4,4,4,4,4,4,4,2,2,4,3,5],4)

13

In [127]:
# Using For Loop, Count occurance of a number 

def occ(lst, numss):
    countt = 0
    for i in lst:
        if i ==numss:
            countt = countt +1
    return countt

In [128]:
occ([1,2,3,4,2,3,4,2,2,4,3,5],5)

1

remove first occurance
remove all occurance
count occurance of a number (for loop and simple)

### Reverse a List

In [204]:
# Reverse a list
def reverselst(lst):
    rvlst = []
    for i in range(len(lst)-1,-1,-1):
        rvlst.append(lst[i])
    print(rvlst)

In [205]:
reverselst([1,3,4,5,2])

[2, 5, 4, 3, 1]

In [217]:
lls = [1,2,3,4,5]
lls.reverse()
print(lls)

[5, 4, 3, 2, 1]

# List Comprehension??? Reverse List??